* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  font-size: 3rem;
}

.btn {
  font-size: 2rem;
  height: 2.8rem;
  width: 5rem;
  cursor: pointer;
  border: none;
}

.play {
  background-color: lightgreen;
}
.reset {
  background-color: lightcoral;
}
